html {
  background-image: url("/images/pexels-photo-417211.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  text-align: center;
  color: azure;
}
p {
  color: azure;
}